
{% for post in paginator.posts %}
  <div class="w3-card-4 w3-margin w3-white">
    <img src="{{ post.img }}" style="width:100%">
    <div class="w3-container">
      <h3><b>{{ post.title }}</b></h3>
      <h5><span class="w3-opacity">{{ post.display_date }}</span></h5>
    </div>

    <div class="w3-container">
      <p>{{ post.description }}</p>
      <div class="w3-row">
        <div class="w3-col m8 s12">
          <p><a href="{{ post.url }}" class="w3-button w3-padding-large w3-white w3-border"><b>READ MORE &raquo;</b></a></p>
        </div>
      </div>
    </div>
  </div>
  <hr>
{% endfor %}
